@font-face {
  font-family: bootle;
  src: url(BOOTLE.TTF);
}
#replit {
  text-align: center;
  background: white;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 15%;
  font-family: 'Courier New', Courier, monospace;
  opacity: .9;
}
#replit h1 {
  color: black;
  font-style: italic;
}
#replit p {
  color: black;
  font-size: 20px;
}

body,html {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: bootle;
}

.header{
  padding: 1px;
  background-color: black;
  color: white;
  text-align: center;
  font-family: bootle;
  font-size: 16px;
}
.home{
  background-image: url("Images/bWall.png");
  background-repeat: repeat;
  min-height: 100vh;
  overflow: hidden;
}
.homeVideo{
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  width: 800px; 
  height: 600px;
  visibility: hidden;
}